.level-meter-container {
  height: 100%;
}

.level-meter-container .outer-meter {
  border: 4px solid white;
  border-top: none;
  width: 40px;
  padding: 4px;
  height: 100%;
  position: relative;
}

.level-meter-container .inner-meter {
  height: 100%;
  text-align: center;
}

.level-meter-container .inner-meter.guessed {
  color: #00BB00;
}

.level-meter-container .inner-meter.missed {
  color: #B90000;
}

.level-meter-container .inner-meter  {
  font-size: 42px;
  line-height: 17px;
  font-weight: bold;
}

.level-meter-container .inner-meter.missed:before {
  content: '–';
}
.level-meter-container .inner-meter.guessed:before {
  content: '–';
}