.level-meter-container .outer-meter {
  border: 2px solid black;
  height: 30px;
}

.level-meter-container .inner-meter {
  background: grey;
  height: 100%;
}

.level-meter-container .missed {
  float: right;
}

.level-meter-container .guessed {
  float: left;
}