.score-card-container .score-icon {
  font-size: 50px;
}

.score-card-container .score {
  font-weight: bold;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  white-space: nowrap;
  text-align: center;
}

.score-card-container .currency {
  color: #F1CE2A;
}
