.score-card-container .score-icon {
  font-size: 250%;
}

.score-card-container .score {
  font-weight: bold;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  white-space: nowrap;
  text-align: center;
}

.score-card-container .currency {
  color: #F1CE2A;
}

#score-card {
  font-size: 20px;
}

#score-card.animate {
  -webkit-animation: score-pulsate 0.5s ease-out;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes score-pulsate {
    0% {
      font-size: 20px;
      color: white;
    }
    50% {
      font-size: 23px;
      color: #F1CE2A;
    }
    100% {
      font-size: 20px;
      color: white;
    }
}
