#timer>div {
  padding: 0px 20px;
  height: 15px;
}

#timer .tick,
#timer .spacer {
  height: 100%;
  display: inline-block;
}

#timer .tick {
  background: #fff;
  border: 2px #ccc solid;
}

#timer .tick.expired {
  display: none;
}

#timer.panic .tick {
  background: #fa0000;
}

#timer.panic .text {
  color: #fa0000;
}
