.commit-display .diff {
  border: 1px solid #ccc;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #333;
  font-size: 13px;
  /* TODO: Show horizontal scroll, but only when needed. */
}

.commit-display .diff:before, .commit-display .diff:after {
  /* Fuck you, foundation grid! */
  content: none;
}

.commit-display .line {
  display: block;
  /* TODO: Never break lines, but still keep indentation. */
}

.commit-display .line * {
  padding-top: 5px;
}

.commit-display .line * {
  padding-bottom: 5px;
}

.commit-display .del {
  background-color: #FDD;
}

.commit-display .ins {
  background-color: #DFD;
}

.commit-display .line * {
  display: inline-block;
}

.commit-display .old-num, .commit-display .new-num {
  border-right: 1px solid #ddd;
  color: #999;
  text-align: center;
  width: 45px;
}

.commit-display .del .old-num, .commit-display .del .new-num {
  border-color: #E4B9B9;
  background-color: #FCC;
}

.commit-display .ins .old-num, .commit-display .ins .new-num {
  border-color: #B4E2B4;
  background-color: #CFC;
}

.commit-display .new-num {
  background-image: linear-gradient(to left, rgba(0,0,0,.1), rgba(0,0,0,0) 11%);
}

.commit-display .op {
  color: #888;
  text-align: center;
  width: 20px;
}

.commit-display .content {
  padding-left: 10px;
}

/* TODO: Enclose the author/filename/language metadata in a frame, similar to GH. */
