/* Reset any stupidity from highlight lib. */
#commit-display code {
  border: none;
  word-wrap: break-word;
  padding: none;
  line-height: inherit;
  margin-bottom: inherit;
  font-family: inherit;
  border-radius: inherit;
  overflow: inherit;
  margin: 0;
  white-space: pre;
  background: none !important;
}

#commit-display code * {
  background: none !important;
}

#commit-display .metadata {
  border-bottom: 1px solid #28283D;
  height: 50px;
  padding-top:15px;
}

#commit-display .metadata.blurred {
  color: transparent;
  text-shadow: 0 0 9px rgba(0, 0, 0, 0.35);
  position: relative;
  border: none;
  border-top: 1px solid #F0F0F0;
  border-radius: 3px;
}

#commit-display .metadata .cover {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 1;
  opacity: 0.7;
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(rgba(245, 245, 245, 1)),
    to(rgba(255, 255, 255, 1)));
}

#commit-display .metadata.blurred .cover {
  display: block;
}

#commit-display .metadata.blurred .author img {
  opacity: 0.1;
}

.metadata .author img {
  height: 24px;
  width: 24px;
  border-radius: 3px;
  vertical-align: middle;
  margin-top: -4px;
}

#commit-display .metadata .author .name {
  text-overflow: ellipsis;
  width: calc(100% - 25px - 0.9375em);
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

#commit-display .metadata .filename {
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
}

#commit-display .metadata.blurred .filename label {
  color: inherit;
}

#commit-display .metadata .filename label {
  color: #999;
}

#commit-display .diff {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-size: 13px;
}

#commit-display .diff:before, #commit-display .diff:after {
  /* Fuck you, foundation grid! */
  content: none;
}

#commit-display .line {
  display: block;
  position: relative;
  height: 24px;
}

#commit-display .line > * {
  padding-top: 5px;
  display: inline-block;
  padding-bottom: 5px;
}

#commit-display .block-name {
  color: #969696 !important;
  border-bottom: 1px #28283D solid;
}

#commit-display .del {
  background-image: linear-gradient(to right, rgba(173, 0, 0, 0.5) 90%, transparent);
}

#commit-display .ins {
  background-image: linear-gradient(to left, rgba(0, 173, 0, 0.5) 90%, transparent);
}

#commit-display .line.del:before {
  content: "";
  border-right: 24px solid rgba(173, 0, 0, 0.54);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  position: absolute;
  left: -24px;
}

#commit-display .line.ins:after {
  content: "";
  border-left: 24px solid rgba(0, 173, 0, 0.5);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  position: absolute;
  right: -24px;
}

#commit-display .old-num,
#commit-display .new-num {
  border-right: 1px solid #333;
  color: #aaa;
  text-align: center;
  width: 45px;
  height: 24px;
}

#commit-display .del .old-num,
#commit-display .del .new-num {
  border-color: #6B2F2F;
  background-color: rgba(173, 0, 0, 0.1);
}

#commit-display .ins .old-num {
  border-color: #273B27;
}

#commit-display .ins .new-num {
  border-color: #286928;
}

#commit-display .op {
  color: #ccc;
  text-align: center;
  width: 20px;
}

#commit-display .content {
  padding-left: 10px;
}