pre {
  border: 1px solid grey;
  padding: 20px;
  overflow: auto;
  width: 100%;
  max-height: 350px;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #333;
}

pre div {
  display: block;
}

pre .del {
  background-color: #DFD;
}

pre .ins {
  background-color: #FDD;
}

