.repo-list {
  padding: 10px 0px 20px 0px;
  font-family: Ubuntu, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.repo-list .repo-item {
  display: inline-block;
  width: 190px;
  margin-right: 41px;
}

.repo-list .repo-item:nth-child(4) {
  margin-right: 0;
}

.repo-list .repo-item.hide {
  visibility: hidden;
}

/* TODO: Handle labels that are too long (some are 60+ characters!). */
.repo-list .repo-item .repo-button {
  display: inline-block;
  width: 190px;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 21px;
  border-top-width: 4px;
  border-radius: 10px;
  color: white;
}

.repo-list .label {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

/* Colors */
.repo-list .repo-item:nth-child(1) .repo-button {
  background: #D69201;  /* Yellow */
}
.repo-list .repo-item:nth-child(1) .repo-button:hover,
.repo-list .repo-item:nth-child(1) .repo-button:focus,
.repo-list .repo-item:nth-child(1) .repo-button.hover{
  background: #E4B703;
}

.repo-list .repo-item:nth-child(2) .repo-button {
  background: #AF4127;  /* Red */
}
.repo-list .repo-item:nth-child(2) .repo-button:hover,
.repo-list .repo-item:nth-child(2) .repo-button:focus,
.repo-list .repo-item:nth-child(2) .repo-button.hover {
  background: #D14929;
}

.repo-list .repo-item:nth-child(3) .repo-button {
  background: #6BA81D;  /* Green */
}
.repo-list .repo-item:nth-child(3) .repo-button:hover,
.repo-list .repo-item:nth-child(3) .repo-button:focus,
.repo-list .repo-item:nth-child(3) .repo-button.hover  {
  background: #7ECC1B;
}

.repo-list .repo-item:nth-child(4) .repo-button {
  background: #2451B1;  /* Blue */
}
.repo-list .repo-item:nth-child(4) .repo-button:hover,
.repo-list .repo-item:nth-child(4) .repo-button:focus,
.repo-list .repo-item:nth-child(4) .repo-button.hover {
  background: #3C65FC;
}
