.repo-list {
  padding: 10px 0px 20px 9px;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 18px;
}

.repo-list .repo-item {
  display: inline-block;
  width: 190px;
  margin-right: 30px;
}

.repo-list .repo-item .repo-button {
  display: inline-block;
  width: 190px;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  color: black;
  text-align: center;
  line-height: 21px;
  border-top-width: 4px;
  border-radius: 10px;
  color: white;
}

.repo-list .repo-item:nth-child(3) {
  margin-left: 21px;
}

.repo-list .repo-item:nth-child(4) {
  margin-right: 0;
}

.repo-list .label {
  white-space: nowrap;
}


/* Colors */
/* TODO Hover colors have been half-assed */
.repo-list .repo-item:nth-child(1) .repo-button {
  background: #DA3A14;
}
.repo-list .repo-item:nth-child(1) .repo-button:hover,
.repo-list .repo-item:nth-child(1) .repo-button:focus {
  background: #E27D66;
}

.repo-list .repo-item:nth-child(2) .repo-button {
  background: #F1CE2A;
}
.repo-list .repo-item:nth-child(2) .repo-button:hover,
.repo-list .repo-item:nth-child(2) .repo-button:focus {
  background: #FFE66F;
}

.repo-list .repo-item:nth-child(3) .repo-button {
  background: #8CC840;
}
.repo-list .repo-item:nth-child(3) .repo-button:hover,
.repo-list .repo-item:nth-child(3) .repo-button:focus {
  background: #ADF750;
}

.repo-list .repo-item:nth-child(4) .repo-button {
  background: #3C65FC;
}
.repo-list .repo-item:nth-child(4) .repo-button:hover,
.repo-list .repo-item:nth-child(4) .repo-button:focus {
  background: #5E7AE0;
}

/* Animation */

@-webkit-keyframes repo-item-pulse {
  0% {
    border-color: rgba(255,255,255,0.3);
  }
  100% {
    border-color: rgba(255,255,255,0.6);
  }
}

.repo-list .repo-item  .repo-button {
  -webkit-animation: repo-item-pulse 1s infinite alternate;
}

/* TODO: Make sure the animation does not cause flicker on all OSs. */
