.level-hub {
  text-align: center;
  line-height: 30px;
  margin-top: 50px;
}

.level-hub .fast-levels {
  float: left;
}

.level-hub .hard-levels {
  float: right;
}

.level-hub .hard-levels {
  float: right;
}

.level-hub .level {
  clear: both;
  font-weight: bold;
  color: grey;
  cursor: not-allowed;
}

.level-hub .unlocked {
  color: inherit;
  cursor: pointer;
}

.level-hub .level.unlocked:hover,
.level-hub .level.unlocked:focus,
.level-hub .level.unlocked:active {
  color: yellow;
}
