.level-hub {
  text-align: center;
  line-height: 30px;
  margin-top: 50px;
  font-family: Zorque;
  -webkit-text-stroke: 1.0px rgba(0,0,0,1);
}

.level-hub .fast-levels {
  float: left;
}

.level-hub .hard-levels {
  float: right;
}

.level-hub .hard-levels {
  float: right;
}

.level-hub .level {
  clear: both;
  font-weight: bold;
  cursor: pointer;
  height: 45px;
  width: 280px;
  margin: auto;
  white-space: nowrap;
}

.level-hub .level:not(.locked):hover,
.level-hub .level:not(.locked):focus,
.level-hub .level:not(.locked):active {
  color: yellow;
}

.level-hub .level.locked .fa-lock {
  font-size: 26px;
  vertical-align: middle;
  float: left;
}

.level-hub .level.locked {
  cursor: default;
  color: grey;
}
