#level-stats .guesses,
#level-stats .misses {
  font-size: 30px;
  height: 92px;
}

#level-stats .fa {
  font-size: 40px;
  margin: 0 auto;
  display: block;
  width: 40px;
}

#level-stats .fa-minus {
  color: red;
}

#level-stats .fa-plus {
  color: green;
}
