@font-face{
  font-family: Zorque;
  src: url('zorque.ttf');
}

@font-face{
  font-family: UbuntuMono;
  src: url('UbuntuMono-R.ttf');
}

html, body, #container {
  height: 100%;
}

body {
  background: url(/img/type.png);
  color: #fff;
  padding-top: 25px;
  -webkit-user-select: none;
  cursor: default;
}

#trophies-icon {
  width: 60px;
}

#content {
  margin: 0 auto;
  width: 900px;
  position: relative;
}

#header {
  width: 100%;
  height: 184px;
}

#logo {
  text-align: center;
  font-family: Zorque, "Lucida Console", Consolas, monospace;
  font-size: 55px;
  -webkit-text-stroke: 0.7px rgba(0,0,0,0.5);
  top: 32px;
  position: relative;
}

#timer {
  margin-bottom: 20px;
  height: 150px;
}

#score-card {
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

#level-stats {
  position: absolute;
  width: 50%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
}

#hearts {
  width: 50%;
  height: 50%;
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
}

.header-left,
.header-center,
.header-right {
  position: absolute;
  width: 300px;
  height: 184px;
}

.header-left {
  left: 0px;
}

.header-center {
  left: 300px;
}

.header-right {
  left: 600px;
}
