body {
  background: url(/img/simple_dashed.png);
  color: #fff;
}

#logo {
  margin: auto;
  display: block;
  text-align: center;
  font-family: Consolas, monospace;
  font-size: 30px;
  padding-top: 25px;
}

#content {
  margin: 0 auto;
  width: 900px;
  padding-top: 20px;
}

.row {
  margin-top: 20px;
}