html, body, #container {
  height: 100%;
}

body {
  background: url(/img/simple_dashed.png);
  color: #fff;
  padding-top: 25px;
  -webkit-user-select: none;
}

.hide {
  display: none !important;
}

#container {
  margin: 0 auto;
  width: 1140px;
  position: relative;
}

#sidebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 120px;
  padding-right: 20px;
  text-align: center;
}

#trophies-icon {
  width: 60px;
}

#content {
  position: absolute;
  left: 140px;
  width: 900px;
}

#logo {
  margin: auto;
  display: block;
  text-align: center;
  font-family: "Lucida Console", Consolas, monospace;
  font-size: 30px;
}

#timer {
  margin-bottom: 20px;
  margin-top: 40px;
}

#level-meter {
  position: absolute;
  left: 1100px;
  height: calc(100% - 50px);
}
